@model CartViewModel

<h2>Koszyk zakupów</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-left">Ilość</th>
            <th class="text-left">Gra</th>
            <th class="text-left">Cena</th>
            <th class="text-right">Suma Częściowa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.CartItems)
        {
            <tr>
                <td class="text-left">@line.Amount</td>
                <td class="text-left">@line.Game.Title</td>
                <td class="text-left">@line.Game.Price.ToString().Trim('0') zł</td>
                <td class="text-right">
                    @((line.Amount * line.Game.Price).ToString().Trim('0')) zł
                </td>
                <td> <div class="text-center"><a class="btn btn-primary" asp-controller="Cart" asp-action="RemoveItemFromCart" asp-route-gameId="@line.Game.GameId"><i class="fa fa-trash"></i> </a></div></td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><b>Suma Całkowita: </b></td>
            <td class="text-right">
                @Model.CartTotal.ToString().Trim('0') zł
            </td>
        </tr>
    </tfoot>
</table>


<div class="text-center">
    <a class="btn btn-primary" asp-controller="Game" asp-action="ListAllGames"><i class="fa fa-reply"></i> Wróć do zakupów</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Dostawa</a>
    <a class="btn btn-primary" asp-controller="Cart" asp-action="ClearCart"><i class="fa fa-trash"></i> Wyczyść Koszyk</a>
</div>


